---
export interface Props {
  title: string;
  image?: {
    src: string;
    alt: string;
  };
  href?: string;
  className?: string;
  layout?: 'top' | 'left';
}

const { title, image, href, className = "", layout = 'top' } = Astro.props;
const Element = href ? "a" : "div";
---

<Element
  href={href}
  aria-label={href ? title : undefined}
  class:list={[
    'card group overflow-hidden',
    className
  ]}
>
  {image && (
    <div class:list={[
      'overflow-hidden',
    ]}>
       <picture class:list={["flex-none", { 'w-52 h-52': layout === 'left' }]}>
      <img
        src={image.src}
        alt={image.alt}
        class:list={[
          "object-cover transition-transform duration-300 group-hover:scale-105 h-full",
          { 'h-52': layout === 'top' },
          { 'w-full': layout === 'top' },
        ]}
      />
      </picture>
    </div>
  )}

  <div class:list={[
    'p-5',
  ]}>
    <h3 class="mb-2 text-xl font-bold">{title}</h3>
    <div class="text-gray-700">
      <slot />
    </div>
  </div>
</Element>
